input {
	padding: 10px 35px;
	background: none;
	border: 2px solid grey;
	background-image: url('../images/search2.png');
	background-size: 25px;
	background-position: 5px 5px;
    background-repeat: no-repeat;
    line-height: 40px;
    font-size: 20px;
    color: #565656;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.modal-info-container {
	display: inline-flex;
	flex-direction: row;
}

.quit-container {
    position: absolute;
    display: inline-flex;
    padding-top: 15px;
    padding-left: 15px;
    width: 200px;
    height: 24px;
}

.quit-container span {
    display: none;
    color: #939393;
    padding-left: 5px;
    font-size: 18px;
}

.section-search {
	height: 100vh;
}

.container-search {
	width: 100%;
	transition: .3s;
	padding: 0 10px;
}

.search-headline {
	padding-top: 10px;
	padding-bottom: 10px;
}

.search-wrapper {
	display: inline-flex;
}

.btn-search {
	background: none;
	border: 2px solid grey;
    line-height: 40px;
    font-size: 20px;
    color: #565656;
    margin-left: 5px;
    outline: none;
    height: 40px;
	display: flex;
	align-items: center;
}

.btn-search:hover {
    color: #f4f4f4;
    background-color:#565656;
    transition: .3s ease-in-out;
}

.search-input {
	width: 100%;
	height: 40px;
}

.search-img {
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
}

.container-result {
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.song-items {
	width: 100%;
	border: 2px solid grey;
	height: cover;
	display: inline-flex;
	margin-bottom: 10px;
}

.song-items:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background-color: grey;
  transition: .8s cubic-bezier(.165,.84,.44,1);
}

.song-items:hover {background: rgba(255,255,255,0); color: white; transition: .6s;}
.song-items:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}

.info-items {
	padding-top: 5px;
	padding-left: 5px;
	display: flex;
	flex-direction: column;
}
.img-wrapper,
.img-wrapper img {
	height: 80px;
}

.artist-wrapper {
	display: inline-flex;
}

.artist-item {
	padding-left: 5px;
}

.song-item,
.artist-item,
.by-item {
	font-size: 16px;
}

.search-error {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transform: translateY(0);
	display: none;
	transition: .4s ease-out;
	margin-top: 6px;
}

.search-error span {
	padding-left: 6px;
}

.search-error.-occured {
	display: inline-flex;
	transform: translateY(10%);
	transition: .4s ease-out;
}

.modal-result {
    position: fixed;
    display: none;
    overflow-y: scroll;
    background-color: white;
    z-index: 100;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.modal-result.-opened{
    display: flex;
    flex-direction: column;
}

.modal-info {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.modal-info-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.artist-name {
    font-size: 28px;
}

.song-name {
    font-size: 25px;
}

.cross-img {
    height: 24px;
}

.modal-ph-wrapper img {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 320px) {
	.modal-info {
	    flex-direction: column;
	}
}

@media screen and (min-width: 425px) {
	.search-wrapper {
		display: flex;
	}

	input {
		padding: 10px 40px;
		background-position: 5px 10px;
    	font-size: 22px;
    	background-size: 30px;
	}

	.btn-search {
	    height: 50px;
	}
	.search-input {
		height: 50px;
	}

	.search-img {
		height: 50px;
	}

	.container-search {
		width: 100%;
		transition: .3s;
		padding: 0 15px;
	}

	.img-wrapper,
	.img-wrapper img {
		height: 100px;
	}

	.song-item,
	.artist-item,
	.by-item {
		font-size: 16px;
	}

    .song-name {
        font-size: 28px;
        color: #939393;
    }

    .artist-name {
        font-size: 29px;
        color: #696969;
    }

    .modal-info {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
    }

    .modal-ph-wrapper img {
		height: 170px;
    }

    .modal-info-wrapper {
        padding-left: 10px;
    }

    .cross-img {
        top: 30px;
        left: 30px;
    }
	
	.modal-info {
		display: inline-flex;
		flex-direction: row;
	}

}

@media screen and (min-width: 600px) {
  	.modal-ph-wrapper img {
		height: 190px;
    }
}

@media screen and (max-width: 424px) {
    .modal-result {
        min-width: 100%;
    }
    .modal-ph-wrapper {
        min-width: 100%;
    }

    .modal-ph-wrapper img {
        min-width: 100%;
    }
    .artist-name {
    	margin-top: 10px;
	}
}

@media screen and (min-width: 768px) {
	.img-wrapper,
	.img-wrapper img {
		height: 150px;
	}

	.song-item,
	.artist-item,
	.by-item {
		font-size: 20px;
	}

	.info-items {
		padding-top: 10px;
		padding-left: 10px;
	}

	.song-items {
		margin-top: 10px;
	}

	input {
    	font-size: 24px;
	}

  	.modal-ph-wrapper img {
		height: 250px;
    }

 	.modal-info-wrapper {
        padding-left: 20px;
    }
	.artist-name {
	    font-size: 30px;
	}

	.song-name {
	    font-size: 27px;
	}
	.modal-info {
		margin-left: 5%;
	}
}

@media screen and (min-width: 1024px) {
	.container-search {
		padding-right: 150px;
		padding-left: 150px;
	}

	.img-wrapper,
	.img-wrapper img {
		height: 170px;
	}

	.song-item,
	.artist-item,
	.by-item {
		font-size: 22px;
	}

  	.modal-ph-wrapper img {
		height: 250px;
    }

 	.modal-info-wrapper {
        padding-left: 20px;
    }
	.artist-name {
	    font-size: 33px;
	}

	.song-name {
	    font-size: 30px;
	}

/*	.modal-info {
		margin-left: 20%;
	}*/

  	.modal-ph-wrapper img {
		height: 270px;
    }

 	.modal-info-wrapper {
        padding-left: 20px;
    }
	.artist-name {
	    font-size: 32px;
	}

	.song-name {
	    font-size: 29px;
	}

    .quit-container span {
        display: flex;
    }
}


@media screen and (min-width: 1224px) {
	.container-search {
		padding-right: 200px;
		padding-left: 200px;
	}
/*	.modal-info {
		margin-left: 25%;
	}*/
}

@media screen and (min-width: 1440px) {
	.container-search {
		padding-right: 300px;
		padding-left: 300px;
	}

	.img-wrapper,
	.img-wrapper img {
		height: 190px;
	}

	.song-item,
	.artist-item,
	.by-item {
		font-size: 24px;
	}
/*
	.modal-info {
		margin-left: 30%;
	}*/

  	.modal-ph-wrapper img {
		height: 290px;
    }

 	.modal-info-wrapper {
        padding-left: 25px;
    }
	.artist-name {
	    font-size: 34px;
	}

	.song-name {
	    font-size: 31px;
	}

}

@media screen and (min-width: 1920px) {
	.container-search {
		padding-right: 400px;
		padding-left: 400px;
	}

	.img-wrapper,
	.img-wrapper img {
		height: 200px;
	}

	.song-item,
	.artist-item,
	.by-item {
		font-size: 25px;
	}

	.info-items {
		padding-top: 15px;
		padding-left: 15px;
	}

  	.modal-ph-wrapper img {
		height: 310px;
    }

 	.modal-info-wrapper {
        padding-left: 30px;
    }

}



/*==================*/

/*.input--makiko {
	overflow: hidden;
	background: #8781BD;
}

.input__field--makiko {
	width: 100%;
	background: transparent;
	color: #797693;
	z-index: 10;
	font-weight: 500;
}

.input__label--makiko {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #fff;
}

.input__label--makiko::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 45%;
	left: 20px;
	background: url(../images/search2.png) no-repeat center center;
	background-size: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label-content--makiko {
	display: block;
	padding: 1.5em 0 0 2.75em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--makiko:focus + .input__label--makiko::before,
.input--filled .input__label--makiko::before {
	-webkit-transform: scale3d(38, 38, 1);
	transform: scale3d(38, 38, 1);
}*/